@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root { 
        --a11y-font: 100%; 

        --bg-brown: #92817A;
        --bg-green: #90A955;
        --bg-light-green: #ECF39E;
        --black: #000000;
        --con-black: #000;
        --nav-color: rgba(144,169,85, 0.4);
        --white-to-black: #fff;
    } /* default font size in % */
    html { font-size: var(--a11y-font); }

    /* Contrast */
    html.a11y-contrast body { @apply bg-black text-white; }
    html.a11y-contrast a { @apply text-yellow-400 underline; }
    html.a11y-contrast {
        --bg-brown: #000000;
        --bg-green: #FFFFFF;
        --bg-light-green: #FFFFFF;
        --black: #FFFFFF;
        --nav-color: rgb(65, 63, 63);
        --white-to-black: #000;
    }
}

.mob-ver {
    display: none;
}


// Navbar
.navbar {
    backdrop-filter: blur(20px);
}
.navbar-link {
    padding: 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-logo {
    width: 200px;
    min-width: 200px;
}

// Hero
.hero-block img {
    width: 100%;  
    max-height: 111vh; 
    object-fit: cover;
}
.hero-block h1 {
    font-size: 8em;
    text-align: center;
    
}
.hero-block h3 {
    font-weight: bold;
    font-size: 40px;
    color: black;
    text-align: left;
    position: absolute;
    bottom: 10px;
    left: 8vh;
    padding: 20px 40px;
    margin: 0;
    
}
.hero-text-hl {
    color: green;
}
.kostenko {
    font-size: 30px;
    font-weight: lighter;
}

// socials
a {
    padding: 10px 15px;
}



.Foundation-description {
    font-size: 2em;
    padding: 3rem 0;

}

.Foundation-description-mid {
    font-weight: bolder; 
    text-align: center;
}
.foundation-sec {
    padding-bottom: 50px;
}
.lines {
    width: 100%;
    padding-right: 0px;
    display: flex;
    text-align: left;
}
.line {
    border-top: 5px solid #fff; /* Creates a horizontal dashed line */
    width: 55%;
}
.dashed-line {
    border-top: 5px dashed #fff; /* Creates a horizontal dashed line */
    width: 25%;
}
.lines, .socials {
    flex-grow: 1;
    flex-basis: 0;
}
.socials {
    display: flex;
    justify-content: flex-end;
}
.socials-under {
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px; 
    display: flex;
    align-items: center;
    padding-right: 50px;
    
}

.latest-news-list {
    padding-bottom: 69px;
}

.new {
    display: flex;
}
.new-name {
    font-weight: normal;
}
.new-date {
    color: black;
}
.new-des {
    margin-top: 12px;
    padding-right: 80px;
}
.new-info {
    padding-left: 40px;
    padding-top: 0px
}
.news-more {
    text-decoration: underline;
    font-weight: normal;
    text-align: center;
}

.first-new-line {
    width: 50%;
    height: 1px;
}
.second-new-line {
    width: 75%;
    height: 1px;
    padding-top: 40px;
}

.our-mission-block {
    padding-left: 69px;
    padding-right: 69px;
    padding-top: 110px;
    padding-bottom: 69px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.our-mission-left {
    min-width: 50%;
}
.our-mission-left p {
    position: absolute; 
    bottom: 12vh;
}

.our-mission-right {
    padding-left: 40px;
}
.our-mission-right h1 {
    font-weight: bold;
    padding-bottom: 10vh;
}
.our-mission-right div {
    padding-bottom: 10vh;
}

// our activities section
.our-activities-block {

}
.our-activities-left {
    width: 100%;
}
.our-activities-title {

    font-weight: bolder;
    padding-top: 63px;
    padding-bottom: 63px;
    width: 100%;
    min-width: 760px;
    text-align: center;   
}
.our-activities-pictures {
    position: relative;
    min-height: 1000px;
}
.img-up {
    position: absolute;
    left: 38%;
    top: 20px
}

.img-mid-l {
    position: absolute;
    top: 200px;
    left: 0px;
}
.img-mid-r {
    position: absolute;
    top: 310px;
    right: 150px;
}
.img-bot-l {
    position: absolute;
    top: 592px;
    left: 20px;
}
.img-bot-r {
    position: absolute;
    top: 676px;
    right: 250px;
}
.our-activities-right {
    padding-left: 25px;
    padding-right: 100px;
    padding-top: 80px;
}

.our-activities-r-title {
    font-size: 2.25rem;
    font-weight: bold;
    border-bottom: solid 1px;
}
.our-activities-right ul {
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 60px;
}
.our-activities-right ul li {
    font-size: 1.5rem;
    list-style-type: disc;
}

// a bit of numbers section
.numbers-title {
    font-size: 3rem;
    text-align: center;
    padding: 50px 0px;
    font-weight: 550;
}
.numbers-images {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  padding: 20px 40px;
}
.numbers-image {
    position: relative;
    margin: 0 20px;
}
.number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 120px;
    font-weight: bold;
}
.number-text {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 24px;
    text-align: center;
    width: 100%;
}

// our partners section
.our-partners {
    padding-top: 70px;
    margin-bottom: 250px;
}
.our-partners-title {
    font-size: 3rem;
    text-align: center;
    padding: 50px 0px;
    font-weight: 550;
}
.partners-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 360px;
    padding-top: 80px;
    padding-bottom: 40px;
}

/* 900 */
@media (max-width: 900px) {
    .pc-ver {
        display: none;
    }
    .mob-ver {
        display: block;
    }
    .navbar-logo {
        min-width: auto;
        width: 100px;
    }
    .socials {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    } 
    .icon {
        margin: auto;
    }
    .hero-title {
        padding-top: 2.5em;
        padding-bottom: 1em;
        font-size: 50px;
        text-shadow: #FC0 1px 0 10px;
    }
    .hero-block h3 {
        font-size: 30px;
    }
    .Foundation-description {
        font-size: 20px;
    }
    .hero-block h3 {
        background-color: rgba(144,169,85, 0.8);
        color: white;
        left: 0px;
        top: 45%;
        bottom: auto;
        border: black solid 2px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        font-size: 16px;
     
    }
    .hero-text-hl {
        color: black;
    }
    .kostenko-des {
        display: none;
    }
    .kostenko {
        font-weight: 200;
        font-size: 12px;
    }

    .lines, .socials {
        display: none;
    }
   
    .Foundation-description {
        justify-content: center;
    }
    .Foundation-description-mid {
        font-size: 1.25rem;
        font-weight: 700;
    }
    .new {
        flex-direction: column;
        text-align: left;
    }
    .new-image img {
        width: 80%;
    }
    .new-info {
        padding-left: 0;
    }

    .our-mission-block {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
    }
    .our-mission-left p {
        position: relative;
        bottom: auto;
    }
    .our-mission-right h1 {
        text-align: center;
        font-size: 1.5rem;
    }
    .our-mission-right {
        padding-left: 0;
        padding-right: 0;
        position: relative;
        background-color: transparent;
    }
    .our-mission-right div {
        text-align: center;
        font-size: 0.75rem;
        padding-left: 10px;
        padding-right: 10px;
        background-color: transparent;
        padding-bottom: 0;
    }
    .our-mission-right img {
        width: 100%;
        height: auto;
    }
    .om-first {
        position: absolute;
        top: 12vh;
    }
    .om-second {
        padding-top: 20px;
    }
    .our-activities-title {
        font-size: 1.25rem;
        min-width: auto;
        padding-top: 16.5px;
        padding-bottom: 16.5px;
    }
    .our-activities-block {
        flex-direction: column;
    }
    .our-activities-subtitle {
        margin: 20px 25px 10px 25px;
        text-align: left;
        padding: 2px 20px;
        width: fit-content;
        font-size: 16px;
        border-radius: 50vh;
    }
    .our-activities-subtitle-1 {
        background-color: #81B1FF;
    }
    .our-activities-subtitle-2 {
        background-color: #FFF200;
    }
    .our-activities-subtitle-3 {
        background-color: #C99FFF;
    }
    .our-activities-subtitle-4 {
        background-color: #FF0302;
    }
    .our-activities-mob ul {
        padding-left: 15px;
        padding-right: 45px;
    }
    .our-activities-mob ul li {
        font-size: 0.75rem;
        margin-left: 10px;
        vertical-align: middle;
    }
    .our-activities-mob ul li:before{
        content: "•";
        margin-right: 10px;
        font-size: 1.125rem;
        font-weight: 800;
        color: #46a046;
    }
    .numbers-title {
        font-size: 1.25rem;
    }
    .numbers-images-mob {
        display: flex;
        flex-direction: column;
    }
    .numbers-image {
        margin: 10px auto;
    }
    .number {
        font-size: 3.5rem;
    }
    .number-text {
        font-size: 0.875rem;
    }

    .our-partners {
        margin-bottom: 3.125rem;
    }
    .our-partners-title {
        background-color: #ECF39E;
        font-size: 1.25rem;
    }
    .partners-logos {
        padding: 0;
        padding-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .partners-logos img {
        padding: 10px 15px;
    }

    .footer-mob {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-mob-socials {
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
    }
    .footer-mob-socials img {
        width: 30px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    a {
        padding: 0;
        margin: 0;
    }

    }


// projects 

.menu-button {
    padding: 2px 10px;
    border-radius: 50vh;
    margin: 20px 20px 20px 0px;
    margin-bottom: 48px;
    font-size: 1.5rem;
}
.menu-button:hover {
    cursor: pointer;
}
.menu-button-1 {
    background-color: #d9e948;
}
.menu-button-2 {
    background-color: #EEC9C9;
}
.menu-button-3 {
    background-color: rgba(151, 71, 255, 0.4);
}
.menu-button-4 {
    background-color: rgba(250, 191, 65, 0.979);
}
.menuButtonActive {
    background-color: #6C7600;
    color: white;
}

.head-title {
    font-size: 2.5rem;
}
.date {
    font-size: 2.25rem;
    padding-bottom: 36px;
}
.proj-name {
    border-top-left-radius: 25vh;
    border-bottom-left-radius: 25vh;
    padding-left: 12px;
    margin-right: -40px;
    margin-bottom: 20px;
    font-size: 1.625rem;
}
.proj-name-1 {
    background-color: rgba(8,102,255, 0.4);
}
.proj-name-sub {
    display: inline-block;
    font-size: 1.625rem;
    margin-top: 20px;
    margin-bottom: 80px;
    padding-right: 40px;
    padding-left: 42px;
    margin-left: -42px;
  
    border: 1px solid #0866FF;
    border-top-right-radius: 25vh;
    border-bottom-right-radius: 25vh;
}
.proj-p {
    font-size: 1.625rem;
} 
.proj-p-2 {
    font-size: 24px;
    padding-left: 100px;
}  
.proj-volunteers {
    display: inline-block;
    font-size: 26px;
    background-color: rgba(236,243,158,0.8);
    border-radius: 30px;
    padding: 5px 40px 5px 20px;
    margin-top: 30px;
}
.proj-1-img {
    margin-top: 140px;
}

@media (max-width: 900px) { 

.proj-volunteers {
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.proj-p-2 {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 55px;
}
.head-title {
    text-align: center;
}


// fonts
.menu-button {
    font-size: 14px;
    margin-right: 8px;
}
.head-title {
    font-size: 20px;
}

.proj-name, .proj-name-sub, .proj-p, .proj-p-2, .date {
    font-size: 12px;
}
.proj-volunteers {
    font-size: 13px;
}

// paddings, margins
.proj-name-sub {
    margin-top: 0px;
    margin-bottom: 20px;
}
.date {
    padding-bottom: 25px;
}
.menu-button {
    margin-top: 0px;
    margin-bottom: 30px;
}
.mob-ver img {
    margin-bottom: 15px;
}





}
    